
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.DataShop.Product.EntityPlural");
}

@section Head {
@Html.Script("dynamic://Lookup.DataShop.Category")
@Html.Script("dynamic://Lookup.DataShop.Supplier")
}
<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CoopShop.DataShop.ProductGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>