
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.DataShop.OrderDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CoopShop.DataShop.OrderDetailGrid($('#GridDiv'), {
        });

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>