
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.DataShop.Shipper.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CoopShop.DataShop.ShipperGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>